.spinWheel{
    width: 550px;
    height: 550px;
    border-radius: 9999px;
    background-color: rgb(100, 123, 159);
    background-image: url("wheel.png");
    background-position: center;
    background-size: cover;
    transition:3s;
    transition-timing-function:ease-in-out;
    
}

.arrow{
    position: relative;
    left: 250px;
    rotate: 180vh;
    font-size: 50px;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.word-guess {
    display: flex;
    flex-direction: row;
}

.letter-guess {
    font-size: 1.5em;
    margin-left: 2vw;
    background-color: black;
    color: black;
    width: 3.5vw;
    text-align: center;
}