.form-class{
    display: flex;
    flex-direction: column;
    
}
.two-inputs{
    display:contents;
    position: center;
    justify-content: space-around;
    width: 40vw;
    margin-top: 5vh;
}
.date-label{
    display: flex;
    flex-direction:inherit;
    margin-top: 15vh;
    height: 10vh;
    justify-content: space-around;
    font-size: larger;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}
#birthDateErrorMessage{
    background-color: brown;
    color: aliceblue;
    font-size: x-large;
    text-align: center;
    border-style: solid;
    border-radius: 100px;
}
#salaryErrorMessage{
    background-color: brown;
    color: aliceblue;
    font-size: x-large;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    margin-right: 40em;
}